
        .men li {
            list-style: none; padding: 10px; border: px solid ; margin-left: 30%;
        } .new { list-style: circle; border: none;}
    

        ul {padding:0; margin-top:0px; margin-left:15px; height: 10%; 
        background-color: white; padding: 25px; width: 30%;}  
        
.center{text-align: center;} #order{ text-align:right; background-color: 
       blanchedalmond; background-image: url(),url(); 
background-position: right bottom, left top; background-repeat: no-repeat, repeat;
 padding: 15px;} .med{text-align:end;}

 
        
 
       